$colorOfBody: #21232e;
$generalHeaderImage: url('../img/m-h-night.jpg') no-repeat 0 0;
$documentTextColor: #ffffff;
$selectFontFam: (
  SansPro: ('Source Sans Pro', sans-serif),
  Hind: ('Hind', sans-serif),
  Fresca: ('Fresca', sans-serif)
);
$buttonColor: #e3ac00;
$underscoreColor:#ff4e33;
$cardBcgr:#3b3f50;
$footerBcgr:#3b3f50;
$footerAndBannerText:#d1d1d1;
$gradient: linear-gradient(to right, rgb(221,162,7), rgb(150,50,79));
$headerAndCardAndLogoText: 'Fresca', sans-serif;
$footerFont: 'Fresca', sans-serif;