$colorOfBody: #ffffff;
$generalHeaderImage: url('../img/m-h-day.jpg') no-repeat 0 50%;
$documentTextColor: #2c2f3c;
$selectFontFam: (
  SansPro: ('Source Sans Pro', sans-serif),
  Hind: ('Hind', sans-serif),
  Fresca: ('Fresca', sans-serif)
);
$buttonColor: #699900;
$underscoreColor:#14a0c7;
$cardBcgr:#21232e;
$footerBcgr:#21232e;
$footerAndBannerText:#c0c3ce;
$gradient: linear-gradient(to right, rgb(100,148,17), rgb(48,94,208));
$headerAndCardAndLogoText: 'Source Sans Pro', sans-serif;
$footerFont: 'Hind', sans-serif;